apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: k8slab-ns
spec:
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
        - name: loki
          image: grafana/loki:latest
          ports:
            - containerPort: 3100

---
apiVersion: v1
kind: Service
metadata:
  name: loki-service
  namespace: k8slab-ns
spec:
  type: LoadBalancer
  selector:
    app: loki
  ports:
    - port: 3100
      targetPort: 3100

